<template>
  <formatter title="HTML" @close="$emit('close')">
    <template #list-name="{ listName }">
      <h1>{{ listName }}</h1>
    </template>
    <template #group-title="{ title }">
      <h2>{{ title }}</h2>
    </template>
    <template #card="{ card }">
      <h3>{{ card.title }}</h3>
      <p v-if="card.note">{{ card.note }}</p>
    </template>
  </formatter>
</template>

<script>
  import Formatter from './Formatter'

  export default {
    components: { Formatter }
  }
</script>
