<template>  
    <b-card no-body class="border-0 rounded" :cardid="card.id">  
        <b-card-title
            class="d-flex justify-content-between align-items-center mb-0"  
            :class="{ 'p-1': !isReadOnly || isDuplicate, 'pl-0 pr-0 mb-1': isReadOnly || isDuplicate }"
            title-tag="div"
            >
            <b-button @click="$emit('destroy')" size="sm" variant="light" v-if="!isReadOnly || isDuplicate">
                <b-icon-trash-fill class="text-danger" />
            </b-button>
           
            <b-icon-pencil v-if="!isReadOnly" />
            <b-icon-pencil v-else-if="isDuplicate" />
            <b-form-input
                v-if="isDuplicate"
                type="text"
                placeholder="Add title"
                size="sm"
                class="border-none reduce-title-width card_title"  
                v-model="cardModel.title"
                @keyup.enter="$event.target.blur()"
                @blur="emitEvent"
                @click="removebordertitle()"
                @mousedown="removebordertitle()"
                ref="title"
                />
            <b-form-input
                v-else
                type="text"
                placeholder="Add title"
                size="sm"
                class="border-none reduce-title-width card_title" 
                v-model="cardModel.title"
                @keyup.enter="$event.target.blur()"
                @blur="emitEvent"
                @click="removebordertitle()"
                @mousedown="removebordertitle()"
                ref="title"
                :disabled="isReadOnly"
                />
                <!-- {{cardModelid}} -->
                 <div v-if="cardModel.image != null && (!isReadOnly || isDuplicate)" class="text-center">
                            <b-img class="popup-img-small" :src="cardModel.image" />
                                </div>
                <b-button  v-b-modal.cardModelid
                size="sm"
                :disabled="isDuplicate"
                variant="light"
                style="float:right;"
                v-if="!isReadOnly"
                @click="show()"
                >
                <b-icon-image v-if="!isReadOnly" /> 
            </b-button>
            <b-modal v-if="!isReadOnly || isDuplicate"
                        :id="cardModelid"
                        ref="modal"
                        title="Add image link"
                        @ok="handleOk"
                        >
                        <form ref="form" @submit.stop.prevent="handleSubmit">
                            <b-form-group
                                :state="nameState"
                                label="Image Link (Approved Domains Only)"
                                label-for="name-input"
                                invalid-feedback="This field is required."
                                >
                                <div v-if="cardModel.image != null" class="text-center">
                            <b-img class="popup-img" :src="cardModel.image" />
                                </div>
                            <b-form-input
                                :id="cardModelid"
                                required
                                :state="nameState"
                                v-model="cardModel.image"
                            ></b-form-input>
                            </b-form-group>
                        </form>
            </b-modal>
            <b-button 
                size="sm"
                variant="light"
                class="handle"
                style="cursor: move; float:right;"
                disabled
                v-if="!isReadOnly || isDuplicate"
                >
                <b-icon-arrows-fullscreen />
            </b-button>
        </b-card-title>
        <b-card-body v-if="isDuplicate" :class="{ 'p-0': isDuplicate, 'pl-2 pr-2 pb-2 pt-0': isDuplicate}">
            <p>
            <b-form-textarea
                class="border-none margin-5 textareashowhide"
                :id="`${card.id}`"
                placeholder="Enter note"
                size="sm"
                rows="7"
                ref="cardbody"
                :cardid="card.id"
                v-model="cardModel.note"
                @blur="emitEvent"
                @click="removeborder()"
                @mousedown="removeborder()"
                />
            <b-button style="margin-bottom: 8px;" v-if="this.LineCount > 5" v-show="!visible" :cardid="card.id"  @click="showmore(card.id)">Show More</b-button>
            <b-button style="margin-bottom: 8px;" v-show="visible" :card="card.id" @click="showless(card.id)">Show Less</b-button>
            </p>
        </b-card-body>
            <b-card-body v-else :class="{ 'p-0': isReadOnly , 'pl-2 pr-2 pb-2 pt-0': !isReadOnly}">
            <template v-if="isReadOnly"> 
                <div class="col-md-12">
                    <!-- <a v-if="cardModel.image!= null" :href="cardModel.link" target="_blank"><img width="128px" height="auto" :src="cardModel.image" /></a> -->
                    <!-- <img width="128px" height="auto" align="left" :src="cardModel.image" /> -->
                <div v-html="cardModelDesc" 
                class="border-none margin-5 textareashowhide domainlinkdiv"
                :id="`public${card.id}`"
                    >
                </div>
            <b-button style="margin-bottom: 8px;" v-if="this.LineCount > 5" v-show="!visible" :cardid="card.id"  @click="showmore(card.id)">Show More</b-button>
            <b-button style="margin-bottom: 8px;" v-show="visible" :card="card.id" @click="showless(card.id)">Show Less</b-button>
                </div>
            </template>
            <template v-else>
            <p >
            <b-form-textarea
                class="border-none margin-5 textareashowhide"
                :id="`${card.id}`"
                placeholder="Enter note"
                size="sm"
                rows="7"
                ref="cardbody"
                :cardid="card.id"
                v-model="cardModel.note"
                @blur="emitEvent"
                @click="removeborder()"
                @mousedown="removeborder()"
                :disabled="isReadOnly"
                />
            <b-button style="margin-bottom: 8px;" v-if="this.LineCount > 5" v-show="!visible" :cardid="card.id"  @click="showmore(card.id)">Show More</b-button>
            <b-button style="margin-bottom: 8px;" v-show="visible" :card="card.id" @click="showless(card.id)">Show Less</b-button>
            </p>
            </template>
            <!-- <div v-html="cardModelDesc"></div> -->
        </b-card-body>
    </b-card>
</template>
<script>
    // import {text1} from '../../config.js'
    import axios from 'axios'
    import {
    BIconPencil,
            BIconArrowsFullscreen,
            BIconTrashFill
    } from 'bootstrap-vue'
            import { mapActions, mapGetters } from 'vuex'
            export default {
                props: {
                    card: {
                        required: true,
                        default: () => ({})
                    },
                },
                data() {
                    return {
                        defaultLineCount: 7,
                        LineCount: 0,
                        visible: false,
                        characterLength: 0,
                        taLineHeight: 27,
                        formatt: [],
                        formatted: [],
                        name:'', 
                        nameState: null,
                        
                    }
                },
                components: {
                    BIconPencil,
                    BIconArrowsFullscreen, 
                    BIconTrashFill
                },
                methods: {
                    ...mapActions('list', [     
                            'loadList',
                    ]),
                    checkFormValidity() {
                        const valid = this.$refs.form.checkValidity()
                        this.nameState = valid
                        return valid
                    },
                    handleOk(bvModalEvt) {
                        // Prevent modal from closing
                        bvModalEvt.preventDefault()
                        // Trigger submit handler
                        this.handleSubmit()
                    },
                    handleSubmit() {  
                        // Exit when the form isn't valid
                        // if (!this.checkFormValidity()) {
                        // return 
                        // }
                        // Push the name to submitted names
                        // Hide the modal manually

                         axios.post(`/matchImageDomain`, {image: this.cardModel.image , card: this.cardModel.id, list: this.$route.params.id})
                                            .then(res => {
                                                alert(res.data.data)
                                                this.loadList(this.currentList.id)
                                            })
                        this.$nextTick(() => {
                        this.$bvModal.hide(this.cardModelid)
                        })
                    },
                    show(){
                       if(this.currentList.status == 1){
                               this.$bvModal.msgBoxOk('If you wish to edit this list, it will be unpublished again.', {
                            title: 'List is published',
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'success',
                            footerClass: 'p-2',
                            noCloseOnBackdrop: true  
                            }) .then(() => {
                                this.$bvModal.show(this.cardModelid)
          })
          .catch(() => {
            // An error occurred
          })
                                }
                                else{
                                     this.$bvModal.show(this.cardModelid)  
                                }   
                    },
                    UserId() {
                        var user = JSON.parse(localStorage.getItem('user'));
                        return  user.user.id
                    },
                    showless(card) {
                        if(document.getElementById(`public${this.card.id}`)){
                           document.getElementById(`public${this.card.id}`).style.height = (this.taLineHeight * 5.5) + 'px';
                           this.visible = false
                       } else{
                        document.getElementById(card).style.height = (this.taLineHeight * 5.5) + 'px';
                        this.visible = false
                       }
                    },
                    showmore(card) {
                       if(document.getElementById(`public${this.card.id}`)){  
                            document.getElementById(`public${this.card.id}`).style.height = (this.LineCount * 27) + 21 + 'px';
                           this.visible = true
                       }
                       else{
                           document.getElementById(card).style.height = (this.LineCount * 27) + 17 + 'px';
                           document.getElementById(card).style.paddingBottom = "4px"
                           this.visible = true
                       }
                    },
//                    remove red border
                    removeborder() {
                        this.$refs.cardbody.$el.style.borderColor = "#fff"
                        this.$refs.cardbody.$el.style.borderWidth = "0"

                        var list = this.$refs.cardbody.$el;
                        var previous = list.previousSibling;
                        if (previous) {
                            previous.parentNode.removeChild(previous);
                        }
                    },
//                    remove red border
                    removebordertitle() {
                        this.$refs.title.$el.style.borderColor = "#fff"
                        this.$refs.title.$el.style.borderWidth = "0"
                    },
                    emitEvent() {
//                        calculate textarea height for show more button
                        this.showmoreless()
                        if (this.$refs.cardbody.value) {
                            this.characterLength = this.$refs.cardbody.value.length

                        } else {
                            this.characterLength == 0
                        }
                        if (this.$refs.title.value || this.$refs.title.value =='' ) {
                            this.titleLength = this.$refs.title.value.length

                        } else {
                            this.titleLength == 0
                        }
//                        apply red border if title length is greater than 45 and description lenght is greater than 3000
                        if (this.titleLength == '' || this.titleLength == 0) {
                            this.$refs.title.$el.style.borderColor = "#F44336"
                            this.$refs.title.$el.style.borderWidth = "0.2rem"
                        } else if (this.characterLength > 3000 || this.titleLength > 45) {
                            var list = this.$refs.cardbody.$el;
                            var previous = list.previousSibling;
                            if (previous) {
                                previous.parentNode.removeChild(previous);
                            }


                            if (this.characterLength > 3000) {
                                this.$refs.cardbody.$el.style.borderColor = "#F44336"
                                this.$refs.cardbody.$el.style.borderWidth = "0.2rem"
                                this.$refs.cardbody.$el.style.paddingTop = "0px"
                                this.$refs.cardbody.$el.style.paddingBottom = "4px"
                                var newItem = document.createElement("P");
                                newItem.innerHTML = "Maximum character limit is 3000"
                                newItem.className = "red-validation"
                                list.parentNode.insertBefore(newItem, list);

                            } else if (this.titleLength > 45 || this.titleLength == '') {
                                this.$refs.title.$el.style.borderColor = "#F44336"
                                this.$refs.title.$el.style.borderWidth = "0.2rem"
                            }



                        }
                        if (this.characterLength > 3000 && this.titleLength > 45) {
                            this.$refs.cardbody.$el.style.borderColor = "#F44336"
                            this.$refs.cardbody.$el.style.borderWidth = "0.2rem"
                            this.$refs.title.$el.style.borderColor = "#F44336"
                            this.$refs.title.$el.style.borderWidth = "0.2rem"
                        } else if (this.characterLength <= 3000 && this.titleLength < 45 && this.titleLength != '')
                        {
                            this.$refs.title.$el.style.borderColor = "#ffffff"
                            this.$refs.title.$el.style.borderWidth = "0"
                            this.$emit('save', this.cardModel)
                        }

                    },
                    fetchFormat(){
                    let ref = this;
                    axios.get('/getDomains')
                                .then((res) => {
                                    var newdata = res.data.data
                    ref.formatt = JSON.stringify(newdata)
                    ref.formatted = JSON.parse(ref.formatt)
                                })
                    // ref.formatt = JSON.stringify(text1)
                    // ref.formatted = JSON.parse(ref.formatt)
                    
                    },
                    urlify(text) {
                        let ref =this;
                        var domaindata = (ref.formatted)
                        var urlRegex = /(((https?:\/\/)|(www\.))[^\s]+)/; 
                        if(domaindata && domaindata.length!=0){
                            if(text!=null){
                        //br for textarea
                        text = text.replace(/(?:\r\n|\r|\n)/g, ' <br> ');

                              
                                    // text = `<img width="128px" height="auto" align="left" src="${this.cardModel.image}" />` + text
                                return text.replace(urlRegex, function(url) {
                                    var arr = url.split("/");
                                    var newurl = arr[0] + '//' + arr[2]
                                    if(domaindata[newurl]){
                                        return '<a target="_blank" href="' + url + '">' +  url + '</a>';
                            }
                            else{
                                return url;
                            }
                        })
                        }
                        }
                        else{
                              if(text!=null){
                                    //br for textarea
                                    return text = text.replace(/(?:\r\n|\r|\n)/g, ' <br> ');
                                }
                        }
                        this.showmoreless() 
                    },
                    showmoreless(){
                        //  calculate textarea height for show more button
                        var taHeight 
                        if(this.$refs.cardbody){
                             taHeight = this.$refs.cardbody.$el.scrollHeight;
                        }
                        else{
                            if(document.getElementById(`public${this.card.id}`)){
                                taHeight = document.getElementById(`public${this.card.id}`).scrollHeight

                            }
                            else{
                                taHeight = 20
                            }
                        }
                        var numberOfLines = Math.floor(taHeight / this.taLineHeight);
                        this.LineCount = numberOfLines;
                    }
                },
                mounted() {
                    this.fetchFormat()
//                    calculate textarea height for show more button
                    this.showmoreless()

                    if (!this.cardModel.id) {
                        this.$refs.title.$el.focus()
                    }
                },
                created(){
                    this.showmoreless()
                    // this.fetchFormat()

                },
                
                computed: {
                    ...mapGetters('list', ['currentList']),
                    isReadOnly() {
                        return this.currentList.is_read_only
                    },

                    cardModel: {
                        get() {
                            return this.card
                        },
                        set() {
                            this.emitEvent()
                        }
                    },
                    cardModelid: {
                        get() {
                            return String(this.card.id)
                        },
                    },
                    
                    cardModelDesc:{ 
                        get(){
                            var url = this.urlify(this.card.note)
                            if (typeof url != 'undefined'){
                                if(this.card.image){
                                    return `<img width="128px" height="auto" class="float-img" alt="${this.cardModel.image}" src="${this.cardModel.image}" />` + url
                                }
                                else{
                                    return url
                                }
                            }
                            else{
                               if(this.card.image){
                                    return `<img width="128px" height="auto" class="float-img" alt="${this.cardModel.image}" src="${this.cardModel.image}" />`
                                }
                                else{
                                    return url = ''
                                }
                            }
                        },
                        set(){
                             this.showmoreless()
                        }
                    },
                    duplicateList(){
                        var duplicate = localStorage.getItem('duplicatelist')
                        return duplicate
                    },
                    isDuplicate(){
                        let duplicate = !!localStorage.getItem('duplicatelist')
                        return duplicate
                    }
                },
                 watch: {
                    cardModelDesc: {
                        handler() {
                            this.$nextTick(() => {
                                if(document.getElementById(`public${this.card.id}`)){

                                    document.getElementById(`public${this.card.id}`).style.height = (this.taLineHeight * 5.5) + 'px'; 
                               this.showmoreless()
                                }
                            })
                        },
                        immediate: true
                    },
                          cardModel: {
        handler() {
          this.$nextTick(() => {
            if (!this.cardModel.id) {
                this.$refs.title.$el.focus()
              }
          })
        },
        immediate: true
      }
                }
            }
</script>

<style scoped>
    .form-control:disabled, .form-control[readonly] {
        background-color: #fff;
    }
</style>
