<template>  
    <b-card no-body border-variant="light">  
        <b-card-header 
            class="card-header-color text-light d-flex align-items-center justify-content-between pl-2 pr-2"
            >
            <b-icon-folder font-scale="1.3" /> 

            <b-form-input
                v-if="isDuplicate"
                v-model="title"
                type="text"
                placeholder="Add title"
                size="sm"
                class="border-dark text-center card-header-color text-white font-weight-bold"
                @keyup.enter="$event.target.blur()"
                @blur="saveGroup1"
                ref="title"
                @click="removebordertitle()"
                @mousedown="removebordertitle()"
                />
                
            <b-form-input
                v-else
                v-model="title"
                type="text"
                placeholder="Add title"
                size="sm"
                class="margin-lr-5 text-center card-header-color text-white font-weight-bold"
                @keyup.enter="$event.target.blur()"
                @blur="saveGroup"
                ref="title"
                :disabled="isReadOnly"
                @click="removebordertitle()"
                @mousedown="removebordertitle()"
                />
                     <b-link v-if="isDuplicate" @click="removeGroup1">
                <b-icon-trash variant="light" font-scale="1.2"/>
            </b-link>
                <b-link v-if="!isReadOnly" @click="removeGroup(CLid)">
                <b-icon-trash variant="light" font-scale="1.2" />
            </b-link>
               <b-button
                size="sm"
                class="handle drag-color"  
                style="cursor: move" 
                disabled
                v-if="!isReadOnly || isDuplicate"  
                >
                <b-icon-arrows-fullscreen class="vertical-middle" font-scale="1.2" />    
            </b-button>

            
           
        </b-card-header>
        <b-card-body v-if="isDuplicate" class="card-body-color">
            <draggable v-model="cards1" handle=".handle" group="list-group-cards">
                <b-row v-for="card in cards" :key="card.id" class="mb-3"> 
                    <b-col>
                        <list-group-card
                            :card="card"
                            @save="saveCard1(card)"
                            @destroy="deleteCard1(card)"
                            />
                    </b-col>
                </b-row>
            </draggable>
            <!-- add group card button  -->
            <div class="text-center">
                <b-button
                    variant="secondary"
                    size="sm"
                    @click="addGroupCard(group)"
                    >
                    <b-icon-plus font-scale="1.0" />
                </b-button>
            </div>
        </b-card-body>
        <b-card-body class="card-body-color" v-else>
            <draggable v-model="cards" handle=".handle" group="list-group-cards">
                <b-row v-for="card in cards" :key="card.id" class="mb-3"> 
                    <b-col>
                        <list-group-card
                            :card="card"
                            @save="saveCard(card)"
                            @destroy="deleteCard(card)"
                            />
                    </b-col>
                </b-row>
            </draggable>
            <!-- add group card button -->
            <div class="text-center">
                <b-button
                    v-if="group.id && !isReadOnly"
                    variant="secondary"
                    size="sm"
                    @click="addGroupCard(group)"
                    >
                    <b-icon-plus font-scale="1.0" />
                </b-button>
            </div>
        </b-card-body>
    </b-card>
</template>

<script>
    import ListGroupCard from './ListGroupCard'
            import { BIconTrash, BIconFolder, BIconPlus } from 'bootstrap-vue'
            import { mapActions, mapGetters } from 'vuex'
            import draggable from 'vuedraggable'
            export default {
                props: {
                    group: {
                        required: true,
                        default: () => ({})
                    },
                },
                components: {
                    ListGroupCard,
                    BIconTrash,
                    BIconFolder,
                    BIconPlus,
                    draggable
                },
                data() {
                    return {
                        title: '',
                        dupli: []
                    }
                },
                methods: {
                    ...mapActions('list', [
                            'loadList',
                            'addGroupCard',
                            'createGroupCard',
                            'updateGroupCard',
                            'updateCardOrder',
                            'deleteGroupCard'
                    ]),
                    removebordertitle() {
                        this.$refs.title.$el.style.borderColor = "#fff"
                        this.$refs.title.$el.style.borderWidth = "0"
                    },
                    removeGroup(CLid) {
                        if (confirm('Are you sure you want to delete this group?')) {
                            this.$emit('destroy')
//                            update  toggle status
                            this.loadList(CLid)

                        }
                    },
                    removeGroup1() {
                         this.$bvModal.msgBoxConfirm('Are you sure you want to delete this group?')
                        .then(value => {
                            if(value == true){
                               this.$emit('destroy')
                            }
                        })
                        // if (confirm('Are you sure you want to delete this group?')) {
                        //     this.$emit('destroy')

                        // }
                    },
                    saveGroup() {
                        if(this.title == ''){
                            this.$refs.title.$el.classList.remove('border-dark')
                            this.$refs.title.$el.style.borderColor = "#F44336"
                            this.$refs.title.$el.style.borderWidth = "0.2rem"
                        }else{
                            this.$emit('save', this.title)
                        }
                    },
                    saveGroup1() {
                        if(this.title == ''){
                            this.$refs.title.$el.classList.remove('border-dark')
                            this.$refs.title.$el.style.borderColor = "#F44336"
                            this.$refs.title.$el.style.borderWidth = "0.2rem"
                        }else{
                            this.$emit('save', this.title)
                        }
                    },
                    showMsgBoxTwo() {
                            this.$bvModal.msgBoxOk('If you wish to edit this list, it will be unpublished again.', {
                            title: 'List is published',
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'success',
                            footerClass: 'p-2',
                            noCloseOnBackdrop: true  
                            })
                    },
                    AlertOnEditList(){
                              if(this.currentList.status == 1){
                                this.showMsgBoxTwo()
                        }   
                    },
                    saveCard(card) {
                        if (card.id) {
                            this.AlertOnEditList()
                            this.updateGroupCard({group: this.group, card})
                        } else {
                            this.AlertOnEditList()
                            this.createGroupCard({group: this.group, card})
                        }
                    },
                    saveCard1(card) {
                        var dup = localStorage.getItem('duplicatelist')
                        this.dupli = JSON.parse(dup)
                        if (card.id) {
                            this.dupli.groups.forEach(function (item){
                            //   var group_id = item.id
                              if(item.cards){
                                  item.cards.forEach(function(cid){
                                      if(cid.id == card.id){
                                          cid.title = card.title
                                          cid.note = card.note
                                      }
                              })
                              }
                           
                        })

                        localStorage.removeItem('duplicatelist')
                        localStorage.setItem('duplicatelist', JSON.stringify(this.dupli))
                        var dup1 = localStorage.getItem('duplicatelist')
                        this.dupli = JSON.parse(dup1)
                        } else {
                            // alert(JSON.stringify(this.group))
                            let grp = this.group
                            var indexnext = this.group.cards.length
                            
                            let original = this.group.cards[this.group.cards.length - 1]
                            original.id = indexnext
                            original.title = card.title
                            original.group_id = this.group.id
    
                            // this.group.cards.push({
                            //     id: indexnext ,
                            //     title: card.title,
                            // })
                            this.dupli.groups = this.dupli.groups.map(function(item){
                               if(item.id == grp.id)
                                item = grp
                                return item;
                            })
                            localStorage.removeItem('duplicatelist')
                            localStorage.setItem('duplicatelist', JSON.stringify(this.dupli))
                            var dup2 = localStorage.getItem('duplicatelist')
                            this.dupli = JSON.parse(dup2)
                             
                            
                        }
                    },
                    deleteCard(card) {
                        if (confirm('Are you sure you want to delete this card?')) {
                                    this.AlertOnEditList()
                                    this.deleteGroupCard({group: this.group, card})
//                            update toggle status
                            // this.loadList(CLid)
                        }
                        
                    },
                    deleteCard1(card) {
                         this.$bvModal.msgBoxConfirm('Are you sure you want to delete this card?')
                        .then(value => {
                            if(value == true){
                               let index = this.group.cards.indexOf(card)
                             this.group.cards.splice(index, 1)
                            }
                        })
                        //  if (confirm('Are you sure you want to delete this card?')) {
                        //      // alert(JSON.stringify(card.id))
                        //      let index = this.group.cards.indexOf(card)
                        //      this.group.cards.splice(index, 1)
                        // }
                    },
                    addGroupCard1(group){
                        alert(JSON.stringify(group))
                    }
                },
                computed: {
                    ...mapGetters('list', ['currentList']),
                    isReadOnly() {
                        return this.currentList.is_read_only
                    },
                    CLid() { 
                        return this.currentList.id
                    },
                    cards: {
                        get() {
                            return this.group.cards
                        },
                        set(cards) {
                            this.AlertOnEditList()
                            this.updateCardOrder({group: this.group, cards})
                        }
                    },
                    cards1:{ 
                        get(){
                            return this.group.cards
                        },
                        set(cards){
                             this.group.cards = cards.map((card, index) => {
                                return Object.assign(card, { position: index, group_id: this.group.id })
                            })
                        }
                    },
                    duplicateList(){
                        var duplicate = localStorage.getItem('duplicatelist')
                        return duplicate
                    },
                    isDuplicate(){
                        let duplicate = !!localStorage.getItem('duplicatelist')
                        return duplicate
                    }
                },
                mounted() {
                    if (!this.group.id) {
                        this.$refs.title.$el.focus()
                    }
                },
                created() {
                    this.title = this.group.title
                }
            }
</script>
