<template> 
    <div class="mt-5 mb-5 home">    
        <back-to-top bottom="80px" visibleoffset="500">
            <b-icon-chevron-up animation="cylon-vertical" class="btn-to-top"></b-icon-chevron-up>
        </back-to-top>
        <!-- <go-top :size="50" :bottom="70" :has-outline="false" fg-color="#aea9b4" bg-color="#ffffff"></go-top> -->
        <!-- <div v-if="loggedIn">  
            <div class="search-wrapper">          
                <b-input-group >
                    <b-input  v-model="search" id="mySearch" type="text" class="form-control hide" placeholder="Search..."
                             aria-label="Search..."
                             aria-describedby="basic-addon2"
                             @keyup="searchProducts(search)" 
                             >
                    </b-input>
                </b-input-group>
            </div>  
        </div> -->
         <div class="text-center" v-if="loggedIn">     
             <template v-if="RecentData">
            <div v-if="this.recentVisitsCategory1 || this.recentVisitsList1" class=" row mb-5">
                <!-- <div class="col-md-2">
                    <label>Recents</label> 
                </div> -->
                <div class="col-md-12">
                    <template v-if="this.recentVisitsCategory1">
                        <span v-for=" category in this.recentVisitsCategory" :key="category.cateory_id">
                            <b-link :to="{ name: 'categories',  params: { id: category.cateory_id} }">
                                <b-button class="recent-pill-button" pill  style="margin:5px 5px;">
                                    {{category.category.name}}   
                                </b-button>   
                            </b-link> 
                        </span>

                    </template>
                    <template v-if="this.recentVisitsList1"> 
                        <span v-for=" list in this.recentVisitsList" :key="list.id"> 

                            <b-link v-if="list.lists" :to="{ name: 'list',  params: { id: list.lists.sharing_key } }">
                                    <b-button  class="recent-pill-button" pill style="margin:5px 5px;">
                                    {{list.lists.name}}
                                </b-button>
                            </b-link>
                        </span>


                    </template>
                </div>
            </div>
             <div  v-if="this.recentVisitsSearch1"  class=" row mt-5 mb-5">
                    <!-- <div class="col-md-2">
                        <label>Recent Searches</label>
                    </div> -->
                    <div class="col-md-12" v-if="this.recentVisitsSearch1">
                        <span  v-for=" search in this.recentVisitsSearch" :key="search.id">
                            <b-link @click="clickonsearch(search.recent_search)" > 
                                <b-button class="recent-search-pill-button" pill style="margin:5px 5px;">{{search.recent_search}}
                                </b-button>
                            </b-link>
                        </span>

                    </div>

                </div>
             </template> 
        </div>
        <div class="text-center mt-5 mb-3 headline">  
            <h1>Explore your Favourite Berries here</h1>  
            <h2>Berries are small fruits that can provide HP and status condition restoration, stat enhancement, and even damage negation when eaten by Pokémon</h2> 
        </div>

<div class="filter_sort">
    
    <b-form-select v-model="selected_sort" :options="options2" size="sm" class="mt-3 navbar-button"></b-form-select>
    <b-form-select v-model="selected_firm" :options="options" size="sm" class="mt-3 navbar-button"></b-form-select>
    <b-form-select v-model="selected_flavor" :options="options1" size="sm" class="mt-3 navbar-button" ></b-form-select>
                
</div>
<ul class="text-center post-contain">
    <!--Display list or category depending  upon key present 'category_id'-->
    <li v-for="post in postList" v-bind:key="post.cat_id" class="container post-container category-container margin-5" :class="post.hasOwnProperty('category_id')?'list_gradient':'category_gradient'">  
        <template>
            <!--display category-->
            <div class="container post-container-category category-container margin-5">    
                <!-- Category new design -->
                <div class="categorylistname">
                    <router-link :to="{ name: 'berry',  params: { id: post.name || post.berry.name } }"> 
                        <b-card-body class="card-header post-container-list-name category-list-name text-center">
                            <span class="icon">
                                <!-- <b-icon-grid></b-icon-grid> -->
                                <div class="icon-image"></div>
                            </span>
                            <span class="title">
                                <b-card-text  class="col-md-10 post-title post-container-list-name category-list-name text-center">{{post.name || post.berry.name}}
                                </b-card-text>
                            </span>
                            <span class="img"><img v-if="post.image_url" class="card-img-top" :src="`${post.image_url}`"  alt="Card image"> 
                            </span>
                        </b-card-body>
                    </router-link>
                </div>

              
            </div>
        </template>
    </li>
    <!--Show more button for default listing and search if data is greater than 10--> 
    <b-button pill class="show-more-post" @click="ShowMorePost()" v-model="listcounts"  v-show="listcounts > 0 && showpost ==1 "> Show More</b-button>
    <!-- <b-button pill class="show-more-search" @click="ShowMoreSearch(search)" v-model="listcounts"  v-show="listcounts > 0 && showsearch == 1 "> Show More</b-button> -->
</ul>
<div class="text-center mt-5" v-if="empty"><p>Sorry, no results...but what you are searching for might still be here.</p><div class="alert alert-info">Tip: use whole words. If you think it's a bug, or a berry is missing, press on the chat icon and contact us.</div></div>
</div>
</template>

<script>
    import { mapActions, mapGetters } from 'vuex'
    // import GoTop from '@inotom/vue-go-top';
    import axios from 'axios'
    import { bus } from '../main.js'
            export default {
                // components: {
                //     GoTop
                // },
                data() {
                    return {
                        selected_firm: null,
                        selected_flavor: null,
                        selected_sort: null,
                        options: [
          { value: null, text: 'Firmness' },
          { value: 'soft', text: 'Soft' },
          { value: 'very-soft', text: 'Very Soft' },
          { value: 'hard', text: 'Hard' },
          { value: 'very-hard', text: 'Very Hard' },
        ],
        options1: [
          { value: null, text: 'Flavors', disabled: true },
          { value: 'spicy', text: 'Spicy' },
          { value: 'dry', text: 'Dry' },
          { value: 'sweet', text: 'Sweet' },
          { value: 'bitter', text: 'Bitter' },
          { value: 'sour', text: 'Sour' },
         
        ],
        options2: [
          { value: null, text: 'Sorting', disabled: true },
          { value: 'ascending', text: 'Alphabetically' },
         
         
        ],
                        search: '',
                        postList: [],
                        postList1: [],
                        newpostList: [],
                        listcounts: '',
                        showpost: '',
                        showsearch: '',
                        lastindexList: [],
                        lastindexCategory: [],
                        empty: false,
                        timeout: null,
                        recentVisitsList: [],
                        recentVisitsCategory: [],
                        recentVisitsSearch: [],
                        // staticContainer: '',

                        indexOfList: [],

                        RecentData: false
                    }
                },
                props: ['search1'],
                name: 'Home',
                computed:
                        {
                            ...mapGetters('auth', ['loggedIn', 'user']),
                            
                            filteredList() {
                                const filterValue = this.search.toLowerCase()
                                return this.postList.filter(post => {
                                    return (post.name.toLowerCase().includes(filterValue))
                                })
                            },
                            // sortList() {
                            //     const filterValue = this.search.toLowerCase()
                            //     return this.postList.sort(post => {
                            //         return (post.name)
                            //     })
                            // },
                            loggedIn() {
                                let loggedIn = !!localStorage.getItem('user')
                                return loggedIn
                            },
                            UserId() {
                                var user = JSON.parse(localStorage.getItem('user'));
                                return  user.user.id
                            },
                            recentVisitsCategory1() {
                                if (this.recentVisitsCategory != '') {
                                    return true
                                } else {
                                    return false
                                }
                            },
                            recentVisitsList1() {
                                if (this.recentVisitsList != '') {
                                    return true
                                } else {
                                    return false
                                }
                            },
                            recentVisitsSearch1() {
                                if (this.recentVisitsSearch != '') {
                                    return true
                                } else {
                                    return false
                                }
                            },
                        },
                methods: {
                    ...mapActions('list', ['loadLists', 'loadCategories', 'addList', 'createList', 'updateList', 'deleteList']),
                  
                   clickonsearch(text) {
                        window.setTimeout(function () {
                            // document.getElementById('mySearch').focus();
                            this.search = text
                            bus.$emit('changekro', text);

                        }, 0);
                        this.searchProducts(text)
                    },
                    duplicateList(post) {
                        // var id = post.id
                        // axios.get(`lists/${id}`)
                        //         .then(res => {
                        //             var post = res.data.data
                        //         })
                        let duplicatelist = !!localStorage.getItem('duplicatelist')
                        if (duplicatelist) {
                            localStorage.removeItem('publicsharekey')
                            localStorage.removeItem('duplicatelist')
                            localStorage.removeItem('newData')
                            localStorage.setItem('publicsharekey', post.sharing_key)
                            if (post.is_share == true) {
                                post.is_share = false
                            }
                            if (post.groups) {
                                post.groups.map(element => {
                                    if (element.cards) {
                                        element.cards.map(item => {
                                            item.note = ''
                                            return item
                                        })
                                    }
                                });
                            }
                            localStorage.setItem('duplicatelist', JSON.stringify(post))
                            // var listdata = localStorage.getItem('duplicatelist')
                            // this.createList(listdata.name, listdata.category_id)
                        } else {
                            localStorage.removeItem('newData')
                            localStorage.removeItem('duplicatelist')
                            localStorage.setItem('publicsharekey', post.sharing_key)
                            if (post.is_share == true) {
                                post.is_share = false
                            }
                            if (post.groups) {
                                post.groups.map(element => {
                                    if (element.cards) {
                                        element.cards.map(item => {
                                            item.note = ''
                                            return item
                                        })
                                    }
                                });
                            }

                            localStorage.setItem('duplicatelist', JSON.stringify(post))
                            // var listdata1 = localStorage.getItem('duplicatelist')
                        }








                    },
//                    Scroll function for default listing and search show more buttons
                    scrollBy() {
                        window.setTimeout(function () {
                            window.scrollBy({
                                top: ((document.documentElement.clientHeight) - 130),
                                behavior: 'smooth'
                            })
                        }, 1000);
                    },
//                    By default listing on page load, set of 10
                    loadPost() {
                        let ref = this;
                        axios.post('/search')
                                .then((res) => {
                                    var newdata = res.data.data
                                    var listcount = res.data.count
                                    ref.listcounts = listcount - newdata.length
                                    ref.postList = (newdata);
                                    ref.showpost = 1
                                    for (let i = ref.postList.length - 1; i > 0; i--) {
                                        let randomIndex = Math.floor(Math.random() * i);
                                        let temp = ref.postList[i];
                                        ref.postList[i] = ref.postList[randomIndex];
                                        ref.postList[randomIndex] = temp;
                                    }
                                    if (ref.postList == '') {
                                        this.empty = true
                                        this.RecentData = true
                                    } else {
                                        this.empty = false
                                        this.RecentData = true
                                        
                                    }
                                })
                    },
                    loadBerries(){
                        let ref = this;
                        axios.get('/berry')
                                .then((res) => {
                                    var newdata = res.data.results
                                    var listcount = res.data.count
                                    ref.listcounts = listcount - newdata.length
                                    ref.postList = (newdata);
                                    ref.showpost = 1
                                    if (ref.postList == '') {
                                        this.empty = true
                                        this.RecentData = true
                                    } else {
                                        this.empty = false
                                        this.RecentData = true
                                        
                                    }
                                })
                    },
                    // show more button loads pending data
                    // ShowMorePost() {
                    //     let ref = this;
                    //     // id of all data in array
                    //     ref.lastindexList = [];
                    //     ref.lastindexCategory = [];
                    //     for (let i = 0; i <= ref.postList.length - 1; i++) {
                    //         if (Object.prototype.hasOwnProperty.call(ref.postList[i], "category_id")) {
                    //             ref.lastindexList[i] = ref.postList[i].id
                    //         } else {
                    //             ref.lastindexCategory[i] = ref.postList[i].id
                    //         }
                    //     }

                    //     var indexOfList = ref.lastindexList.filter(function (el) {
                    //         return el != null;
                    //     });
                    //     var indexOfCategory = ref.lastindexCategory.filter(function (el) {
                    //         return el != null;
                    //     });

                    //     axios.post('/search', {indexOfList, indexOfCategory})
                    //             .then((res) => {
                    //                 var newdata = res.data.data
                    //                 var count = res.data.count
                    //                 ref.newpostList = (newdata);
                    //                 if (ref.showpost == 1) {
                    //                     // shuffle post on next pages
                    //                     for (let i = ref.newpostList.length - 1; i > 0; i--) {
                    //                         let randomIndex = Math.floor(Math.random() * i);
                    //                         let temp = ref.newpostList[i];
                    //                         ref.newpostList[i] = ref.newpostList[randomIndex];
                    //                         ref.newpostList[randomIndex] = temp;
                    //                     }
                    //                 }
                    //                 var addData = ref.newpostList
                    //                 ref.postList.push(...addData)
                    //                 ref.listcounts = count - newdata.length
                    //             })
                    //     this.scrollBy();

                    // },
                    ShowMorePost() {
                        let ref = this;
                        axios.get(`/berry/?limit=${ref.postList.length + 20}`)
                                .then((res) => {
                                    var newdata = res.data.results
                                    var count = res.data.count  
                                    ref.newpostList = (newdata);
                                    var addData = ref.newpostList;
                                    ref.postList = addData;
                                    ref.listcounts = count - newdata.length;
                                })
                        this.scrollBy();

                    },
                    // load more cards loads pending data
                    LoadMoreCards(category_id, lists) {
                        let ref = this;
                        // id of all data in array
                        ref.indexCategory = [];
                        for (let i = 0; i <= lists.length - 1; i++) {
                            ref.indexCategory[i] = lists[i].id
                        }
                        var indexOfList = ref.indexCategory
                        axios.post(`/categoryUnderList`, {category_id, indexOfList})
                                .then((res) => {
                                    var pendinglist = res.data.data
                                    ref.postList.map(function (elem) {
                                        if (elem.id) {
                                            if (elem.id == category_id) {
                                                elem.lists_data.push(...pendinglist)
                                            }
                                        }
                                    })
                                })

                    },
                    // on search 
                    searchProducts(search) {
                        let ref = this;

                        this.$nextTick(() => {
//                            when search length is greater than 2 alphabets
                            if (search.length > 2) {
                                let router = ref.$router
//                                timeout for no throttling
                                clearTimeout(ref.timeout);
                                ref.timeout = setTimeout(function () {
                                   axios.get(`/berry/?limit=100`)
                                            .then(res => {
                                                //pass search query string to router query
                                                router.push({query: {search: search}}).catch(() => {
                                                })
                                                if (ref.loggedIn) {
                                                    ref.RecentSearch();
                                                }
                                                var newdata = (res.data.results)
                                                var newdatalength = (res.data.results).length
                                                var listcount = res.data.count
                                                ref.listcounts = listcount - newdatalength
                                                var filteredObject = newdata.filter(item => item.name.indexOf(search) > -1);
                                                 console.log(filteredObject)
                                                ref.postList = (filteredObject);
                                                if (ref.postList == '') {
                                                    ref.empty = true
                                                    ref.RecentData = true
                                                    ref.staticContainer = false

                                                } else {
                                                    ref.empty = false
                                                    ref.RecentData = false
                                                }
                                               
                                            })
                                    ref.showpost = 0
                                    ref.showsearch = 1
                                    ref.staticContainer = false
                                }, 2000);

                            }
                            // else if (search || typeof (search == 'undefined')) {
                            //     this.loadPost()
                            //     ref.showsearch = 0
                            //     this.empty = false
                            //     this.emptylist = false
                            //     // this.$router.push(this.$route.path)
                            // }
//                                when search is empty
                            else if (search.length == 0) {
                                // this.loadPost()
                                this.loadBerries();
                                ref.showsearch = 0
                                ref.RecentData = true
                                ref.staticContainer = true
                                this.empty = false
                                this.emptylist = false
                                this.$router.push(this.$route.path).catch(() => {
                                })
                            }


                        });
                    },

                    //show more button pending data displayed
                    ShowMoreSearch(search) {
                        let ref = this;
                        ref.showpost = 0;
                        // id of all data in array
                        ref.lastindexList = [];
                        ref.lastindexCategory = [];

                        for (let i = 0; i <= ref.postList.length - 1; i++) {
                            if (Object.prototype.hasOwnProperty.call(ref.postList[i], "category_id")) {
                                ref.lastindexList[i] = ref.postList[i].id
                            } else {
                                ref.lastindexCategory[i] = ref.postList[i].id
                            }
                        }
                        var indexOfList = ref.lastindexList.filter(function (el) {
                            return el != null;
                        });
                        var indexOfCategory = ref.lastindexCategory.filter(function (el) {
                            return el != null;
                        });

                        axios.post('/search', {search, indexOfList, indexOfCategory})
                                .then((res) => {
                                    var newdata = res.data.data
                                    var count = res.data.count
                                    ref.newpostList = (newdata);
                                    var addData = ref.newpostList
                                    ref.postList.push(...addData)
                                    ref.listcounts = count - newdata.length
                                })
                        this.scrollBy();
                    },
                    RecentSearch() {
                        axios.get(`recentVisits`).then(({data}) => {
                            var newdata = data;
                            var listdata = newdata.list
                            var categorydata = newdata.category
                            var searchdata = newdata.search

                            listdata = listdata.slice(0, 3)
                            categorydata = categorydata.slice(0, 2)
                            searchdata = searchdata.slice(0, 5)

                            this.recentVisitsList = listdata
                            this.recentVisitsCategory = categorydata
                            this.recentVisitsSearch = searchdata
                        }).catch(() => {
                        });
                    }
                },
                // watch on route query search
                watch: {
                        selected_firm(newVal) {
                        let ref = this;
                        ref.selected_flavor = null;
                        ref.selected_sort = null;
                        if(ref.selected_firm!= null){
                        axios.get(`/berry-firmness/${newVal}`)
                                .then((res) => {
                                    var newdata = res.data.berries
                                    var listcount = res.data.count
                                    ref.listcounts = listcount - newdata.length
                                    ref.postList = (newdata);
                                    ref.showpost = 1
                                    if (ref.postList == '') {
                                        this.empty = true
                                        this.RecentData = true
                                    } else {
                                        this.empty = false
                                        this.RecentData = true
                                        
                                    }
                                })
                        }

                        },
                        selected_flavor(newVal1) {
                        let ref = this;
                        ref.selected_firm = null;
                        ref.selected_sort = null;
                        if(ref.selected_flavor!= null){
                        axios.get(`/berry-flavor/${newVal1}`)
                                .then((res) => {
                                    var newdata = res.data.berries
                                    var listcount = res.data.count
                                    ref.listcounts = listcount - newdata.length
                                    ref.postList = (newdata);
                                    ref.showpost = 1
                                    if (ref.postList == '') {
                                        this.empty = true
                                        this.RecentData = true
                                    } else {
                                        this.empty = false
                                        this.RecentData = true
                                        
                                    }
                                })
                        }
                        },
                        selected_sort(newVal2) {
                        let ref = this;
                        ref.selected_firm = null;
                        ref.selected_flavor = null;
                        if(ref.selected_sort!= null &&  newVal2 == 'ascending'){
                            ref.postList = ref.postList.sort((a, b) => a.name.localeCompare(b.name))
                         
                        }
                        if(ref.selected_sort!= null &&  newVal2 == 'decending'){
                            ref.postList = ref.postList.reverse((a, b) => a.name.localeCompare(b.name))
                         
                        }
                        },
                    '$route.query.search': {
                        handler: function (search) {
                            if (search != '' && typeof search !== 'undefined') {
                                let ref = this;
                                window.setTimeout(function () {
                                    ref.search = search
                                    // document.getElementById('mySearch').focus();
                                ref.searchProducts(search)
                                }, 0);
                            }
                        },
                        deep: true,
                        immediate: true
                    },
                   
                },
                created() {
                    this.staticContainer = true
                    this.loadBerries();
                    // this.loadPost()
                    if (this.loggedIn) {
                        this.RecentSearch();
                    }
//                  query string passed from other pages to home page
                    var querysearch = this.$route.params.search1
                    // console.log(querysearch)
                    if (querysearch != '' && typeof querysearch !== 'undefined') {
                        this.search = querysearch
                        window.setTimeout(function () {
                            // document.getElementById('mySearch').focus();
                            this.staticContainer = false
                        }, 0);
                        this.searchProducts(querysearch)
                    }
                    localStorage.removeItem('duplicatelist')
                    localStorage.removeItem('duplicatelist1')
                    localStorage.removeItem('publicsharekey')
                    bus.$on('changeIt1', (searchhome) => {
                        this.search = searchhome
                        this.staticContainer = false
                        this.searchProducts(searchhome)
                     })
                    bus.$on('changeItempty', () => {
                                // this.loadPost()
                                this.loadBerries()
                                this.showsearch = 0
                                this.staticContainer = true
                                this.empty = false
                                this.emptylist = false
                                this.$router.push(this.$route.path).catch(() => {
                                })
                     })

                    

                },
            }
</script>
