<template>
    <div>
        <div
            class="bg-light mb-3 p-2 d-flex justify-content-between align-items-center"
            >
            <b-link class="text-dark" :to="{ name: 'lists' }">
                    <b-icon-chevron-left />
            </b-link> <div>
            <div class="margin-5  list-name" v-if="isEditing"><p><b>List: </b>
                  <b-form-input
                    class="border-none listname"
                    placeholder="Add List Name"
                    type="text"
                    size="sm"
                    v-model="value"
                    @keyup.enter="$event.target.blur()"
                    @blur="savelistname"
                    ref="input"
                /></p>
            
            </div>  
                <div class="margin-5"><b>Format: </b> {{filterformat.Format}} </div>
                </div>
            <div class="margin-5 share-buttons">
                <!-- <template v-if="!isReadOnly">
                    <b-button
                        id="share-link-btn"
                        variant="primary"  
                        title="Share"
                        @click="generateShareLink"
                        class=""
                        >
                        Share  
                    </b-button>
                    <b-popover
                        :show="!!shareLink"
                        target="share-link-btn"
                        title="Sharing link"
                        >
                        <div class="d-flex">
                            <b-input v-model="shareLink" size="sm" class="mr-1" ref="shareLinkInput" />
                            <b-button variant="primary" size="sm" @click="copyShareLink">
                                Copy
                            </b-button>
                        </div>
                    </b-popover>
                    <b-dropdown text="Format" variant="primary" class="m-md-2" right>
                        <b-dropdown-item @click="format = 'html'">As HTML</b-dropdown-item>
                        <b-dropdown-item @click="format = 'markdown'">As Markdown</b-dropdown-item>
                    </b-dropdown>
                </template> -->
            </div>
        </div>
        <div>
            <html-formatter
                class="mb-3"
                v-if="format == 'html'"
                @close="format = ''"
                />
            <markdown-formatter
                class="mb-3"
                v-if="format == 'markdown'"
                @close="format = ''"
                />
        </div>
        <!-- <add-btn @click="addGroup" v-if="!isReadOnly">Add New {{filterformat.groupUIName}}</add-btn> -->
        <b-row v-for="group in currentList.groups" :key="group.id" class="mb-3">
            <b-col>
                <list-group
                    :group="group"
                    @save="save(group, $event)"
                    @destroy="deleteGroup(group)"
                    />
            </b-col>
        </b-row>

        <div class="comment-list" >
            <span v-show="loading" class="spinner"></span>   
            <div class='items' v-if="loaded" :listid="currentList.id" :ownerid="currentList.owner_id">
                <ul>   
                    <comment v-on:getList="updateComment(CLid)" v-for="comment in items" v-bind:key="comment.id" :listid="currentList.id" :comment="comment" ></comment>
                </ul>
            </div>
        </div>

        <div v-if="loggedIn">
            <comment-form v-on:onCommented="updateComment(CLid)"></comment-form>
        </div>

        <div v-else > <p>
                Please
            <b-link :to="{ name: 'login' }">Login</b-link> or
            <b-link :to="{ name: 'register' }">Create an account</b-link> to post a comment.
            </p> </div>


    </div>
</template>

<script>
    import { BIconChevronLeft } from 'bootstrap-vue'
            import ListGroup from '@/components/lists/ListGroup'
            import CommentForm from '@/components/CommentForm'
            import Comment from '@/components/Comment'
            // import AddBtn from '@/components/AddBtn'
            import axios from 'axios'
            import { mapActions, mapGetters } from 'vuex'
            import HtmlFormatter from '@/components/lists/formatters/HtmlFormatter'
            import MarkdownFormatter from '@/components/lists/formatters/MarkdownFormatter'
            import {Format} from '../config.js'
            export default {
                components: {
                    BIconChevronLeft,
                    ListGroup,
                    // AddBtn,
                    HtmlFormatter,
                    MarkdownFormatter,
                    Comment,
                    CommentForm
                },
                data() {
                    return {
                        format: '',
                        clipboardContent: '',
                        shareLink: '',
                        comments: [],
                        loading: false,
                        items: [],
                        loaded: false,
                        formatt: [],
                        formatted: [],
                        format1: '',
                        filterformat:[],
                        value: ''
                        
                    }
                },
                methods: {
                    ...mapActions('list', [
                            'loadList',
                            'fetchComments',
                            'addGroup',
                            'createGroup',
                            'updateGroup',
                            'deleteGroup',
                            'createShareKey',
                            'createList'
                    ]),
                    save(group, title) {
                        if (group.id) {
                            this.updateGroup({group, title})
                        } else {
                            this.createGroup({title})
                        }
                    },
                    updateComment(CLid) {
                        let ref = this;
                        console.log('":::', this.currentList)
                        axios.get(`comments/${CLid}`).then(res => {
                            ref.loaded = true;
                            const newdata = (res.data).reverse();
                            ref.items = newdata;
                            ref.comments.push(ref.lists);
                        })
                    },

                    generateShareLink() {
                        this.createShareKey().then(({ data }) => {
                            let route = this.$router.resolve({
                                name: 'list',
                                params: {id: data.data.share_key}
                            })
                            this.shareLink = location.hostname + route.resolved.fullPath
                        })
                    },
                    copyShareLink() {
                        this.$refs.shareLinkInput.select()
                        document.execCommand('copy')
                        window.getSelection().removeAllRanges()
                    },
                    fetchFormat(){
                    this.format1 = this.$route.query.id
                    localStorage.setItem('format', this.format1 )
                    let ref = this;
                    ref.formatt = JSON.stringify(Format)
                    ref.formatted = JSON.parse(ref.formatt)
                    
                    if (ref.format1 == 'Novel'){
                        ref.filterformat = ref.formatted.Novel
                    }
                    else if (ref.format1 == 'Essay'){
                        ref.filterformat = ref.formatted.Essay
                    }
                    else if (ref.format1 == 'Comic'){
                        ref.filterformat = ref.formatted.Comic
                    }
                    else if (ref.format1 == 'Blank'){
                        ref.filterformat = ref.formatted.Blank
                    }
                    },
                    savelistname() {
                            if(this.value === '' ){
                                console.log('empty list name')
                            }
                            else{
                             axios.post('lists', { name: this.value})
                            .then((res) => {
                              var listid = res.data.data.id
                            this.$router.push({name: 'list' , params: { id: listid }} )
                            })
                            }
                        },
                         removeborder(){
                            this.$refs.input.$el.style.borderColor= "#fff"  
                            this.$refs.input.$el.style.borderWidth= "0"
                        },
                },
                computed: {
                    ...mapGetters('list', ['currentList'], ['commentList'], 'auth', ['loggedIn', 'user']),
                    isReadOnly() {
                        return this.currentList.is_read_only
                    },
                    CLid() {
                        return this.currentList.id
                    },
                    Ownerid() {
                        return this.currentList.owner_id
                    },
                    loggedIn() {
                        let loggedIn = !!localStorage.getItem('user')
                        return loggedIn
                    },
                    UserId() {
                        var user = JSON.parse(localStorage.getItem('user'));
                        return  user.user.id
                    },
                    isEditing() {
                        return true
                    }

                },
                    watch: {
                        isEditing: {
                            handler() {
                            // this.value = this.list.name
                            this.$nextTick(() => {
                                if (this.$refs.input) {
                                this.$refs.input.$el.focus()
                                }
                            })
                            },
                            immediate: true
                        }
                        },
                mounted() {
//                    this.updateComment(this.$route.params.id);
                },
                created() {
                    // this.loadList(this.$route.params.id);
                    this.fetchFormat()
                }

            }
</script>
