<template> 

    <div class="mt-5 mb-5"> 
        <loading :active.sync="isLoading"  
        :can-cancel="false" 
        :is-full-page="fullPage"></loading> 
        <!-- <searchbar /> -->
        <add-btn class="mt-3" @click="addList">Add New List</add-btn>
        <!--Notification message if any of the list status is rejected-->
        <div v-if=" loggedIn && this.rejectStatus==1">
            <b-alert variant="danger" show dismissible>
                Please edit flagged lists and re-submit them. Check your email for details.
            </b-alert>
        </div>
        <!--List data-->
        <b-row class="mt-3"> 
            <b-col> 
                <b-list-group> 
                    <list-item  
                        v-for="list in lists"  
                        :list="list" 
                        :key="list.id"   
                        :categoryitems= categoryitems  
                        v-model="list.name"
                        @edit="list.editMode = 1"
                        @cancel-edit="list.editMode = 0"
                        @save="save(list, $event)"   
                        @delete="deleteList(list)" 
                        />
                </b-list-group>
            </b-col>
        </b-row>
    </div>
</template> 
<script>
    import AddBtn from '@/components/AddBtn'
            import ListItem from '@/components/lists/ListItem'
            // import Searchbar from '@/components/Searchbar'
            import { mapActions, mapGetters } from 'vuex'
            import Loading from 'vue-loading-overlay';
            import 'vue-loading-overlay/dist/vue-loading.css';
            import axios from 'axios'

            export default {
                name: 'Lists',
                directives: {
                    focus: {
                        inserted(el) {
                            el.focus()
                        }
                    }
                },
                data() {
                    return {
                        categoryitems: [],
                        rejectStatus: '',
                        isLoading: false,
                        fullPage: true
                    }
                },
                components: {AddBtn, ListItem, Loading},
                methods: {
                    ...mapActions('list', ['loadLists', 'loadCategories', 'addList', 'createList', 'updateList', 'deleteList']),
                    save(list, ev) {
                        let category_id = ev.category_id;
                        let name = ev.name;

                        if (list.id) {
                            if(list.status == 1){ 
                                this.$bvModal.msgBoxOk('If you wish to edit this list, it will be unpublished again.', {
                            title: 'List is published',
                            size: 'sm',
                            buttonSize: 'sm',
                            okVariant: 'success',
                            footerClass: 'p-2',
                            noCloseOnBackdrop: true  
                            }) 
                            }
                            this.updateList({list, name, category_id})
                            this.loadrejectStatus()
                        } else {
                            if (name === '' || category_id === '') {
                            //    console.log('empty')
                            } else {
                                this.createList({name, category_id})
                                let ref = this;
                                this.doAjax()
                                window.setTimeout(function () {
                                    var id = ref.lists[0].id
                                    ref.$router.push({name: 'list', params: {id: id}})
                                }, 2000);
                            }
                        }
                    },
                    doAjax() {
                        this.isLoading = true;
                        // simulate AJAX
                        setTimeout(() => {
                        this.isLoading = false
                        },5000)
                    },

                    loadCategory() {
                        let ref = this;
                        axios.get('/categories')
                                .then((res) => {
                                    var newdata = res.data.data
                                    ref.categoryitems = (newdata);
                                })
                    },
                    loadrejectStatus() {
                        axios.get('/lists')
                                .then((res) => {
                                    this.rejectStatus = res.data.rejectStatus
                                })
                    },

                },
                computed: {

                    ...mapGetters('list', ['lists'], 'category', ['categories']),
                    loggedIn() {
                        let loggedIn = !!localStorage.getItem('user')
                        return loggedIn
                    },
                    UserId() {
                        var user = JSON.parse(localStorage.getItem('user'));
                        return  user.user.id
                    },

                },
                created() {
                    this.loadLists() // for loading list
                    this.loadrejectStatus() //for loading red flag rejected status
                    this.loadCategory() //for loading category

                }
            }
</script>
