<template> 
    <!-- Search bar component -->
    <div class="search-wrapper mb-5">
       
 <b-input-group >
                <b-input v-model="search" id="mySearch" type="text" class="form-control" placeholder="Search..."
                         aria-label="Search..."
                         aria-describedby="basic-addon2"
                         @keyup="searchProducts(search)" 
                         >
                </b-input>
            </b-input-group>
        <div>
</div>
    </div> 
</template>
<script>
    import { mapActions, mapGetters } from 'vuex'

            export default {
                data() {
                    return {
                        search: '',
                        timeout: null,
                    }
                },
                methods: {
                    ...mapActions('auth', ['logout']),
//                    redirect search to home page with query string
                    searchProducts(search) {
                        let ref = this;
                        this.$nextTick(() => {
                            if (search.length > 2) {
                                clearTimeout(ref.timeout);
                                ref.timeout = setTimeout(function () {
                                    ref.$router.push({name: 'home', params: {search1: search}})
                                           
                                } , 1000);
                            }

                        });

                    },

                },

                computed: mapGetters('auth', ['loggedIn'])
            }
</script>
