<template>
<span>
    <site-header />
  <b-container class="main-content"> 
    <notifications group="duplicate1" />  
    <router-view />
    <contact-us />
  </b-container>
    <site-footer />
</span>
</template>  

<script>
import SiteHeader from '@/components/SiteHeader'
import SiteFooter from '@/components/SiteFooter'
import ContactUs from '@/components/ContactUs'
export default {
  components: { SiteHeader, SiteFooter, ContactUs },
}
</script>
