<template>
  <div>
    <b-alert
      :show="hasError"
      variant="danger"
      @dismissed="hasError = false" 
      dismissible
    >
      Invalid credentials
    </b-alert>
    <div class="d-flex justify-content-center mt-5">
      <b-card header="Login" header-class="font-weight-bold">
        <b-form @submit.prevent="submit">
          <b-form-group id="email-group">
            <b-form-input
              v-model="$v.email.$model"
              :state="!$v.email.$invalid"
              id="email"
              placeholder="Email"
              type="email"
            />
            <b-form-invalid-feedback v-show="$v.email.$invalid">
              <div class="error" v-if="!$v.email.required"
                >Email is required</div
              >
              <div class="error" v-if="!$v.email.email">Not a valid email</div>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="password-group">
            <b-form-input
              v-model="$v.password.$model"
              :state="!$v.password.$invalid"
              id="password"
              placeholder="Password"
              type="password"
            />
            <b-form-invalid-feedback v-show="$v.password.$invalid">
              <div class="error" v-if="!$v.password.required">
                Password is required
              </div>
              <div class="error" v-if="!$v.password.minLength">
                Password must have at least
                {{ $v.password.$params.minLength.min }} letters
              </div>
            </b-form-invalid-feedback>
          </b-form-group>

          <!-- <b-button v-if="!visible" @click="sendPassword()" variant="primary">Send Password</b-button> -->
          <!-- <b-button v-if="visible" type="submit" variant="primary">Login</b-button> -->
          <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
      </b-card>
    </div>
    <p class="text-center mt-3">
      You don't have an account yet?
      <b-link :to="{ name: 'register' }">Create one!</b-link>
    </p>
  </div>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, email, minLength } from 'vuelidate/lib/validators'
  import { mapActions } from 'vuex'

  export default {
    name: 'Login',
    mixins: [validationMixin],
    data() {
      return {
        email: '',
        password: '',
        hasError: false
        // visible: false
      }
    },
    validations: {
      email: { required, email },
      password: { required, minLength: minLength(6) }
    },
    methods: {
      ...mapActions('auth', ['login']),
      submit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.login({
            email: this.email,
            password: this.password
          })
          .then(() => {
            this.$router.push({ name: 'lists' })
          })
          .catch(() => {
            this.hasError = true
          })
        }
      }
      // sendPassword(){
      //   this.$v.$touch()
      //   if (!this.$v.email.$invalid) {
      //       this.visible = true
      //   }
      // }
    }
  }
</script>
