<template>
  <div class="registration mb-5">
    <b-alert
      :show="!!errors"
      variant="danger"
      @dismissed="errors = null"
      dismissible
    >
      <div v-for="(error, index) in errors" :key="index">{{ error[0] }}</div>
    </b-alert>
    
    <div class="alert alert-info" role="alert">You need a registration code to sign up. <a href="https://contactmarcus.paperform.co/">Contact us</a> to request a code.</div>
    <div class="d-flex justify-content-center mt-5">
      <b-card header="Registration" header-class="font-weight-bold">
        <b-form @submit.prevent="submit">
          <b-form-group id="name-group">
            <b-form-input
              v-model="$v.name.$model"
              :state="!$v.name.$invalid"
              id="name"
              placeholder="Name"
              type="text"
            />
            <b-form-invalid-feedback v-show="$v.name.$invalid">
              <div class="error" v-if="!$v.name.required">Name is required</div>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="email-group">
            <b-form-input
              v-model="$v.email.$model"
              :state="!$v.email.$invalid"
              id="email"
              placeholder="Email"
              type="email"
            />
            <b-form-invalid-feedback v-show="$v.email.$invalid">
              <div class="error" v-if="!$v.email.required">Email is required</div>
              <div class="error" v-if="!$v.email.email">Not a valid email</div>
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group id="code-group">   
            <b-form-input
              v-model="$v.registration_code.$model"  
              :state="!$v.registration_code.$invalid"
              id="registration_code"
              placeholder="Registration Code"
              type="text"
            />
            <b-form-invalid-feedback v-show="$v.registration_code.$invalid">
              <div class="error" v-if="!$v.registration_code.required">Registration Code is required</div>
              <div class="error" v-if="!$v.registration_code.minLength">
                Code must have at least
                {{ $v.registration_code.$params.minLength.min }} letters
              </div>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="password-group">
            <b-form-input
              v-model="$v.password.$model"
              :state="!$v.password.$invalid"
              id="password"
              placeholder="Password"
              type="password"
            />
            <b-form-invalid-feedback v-show="$v.password.$invalid">
              <div class="error" v-if="!$v.password.required">
                Password is required
              </div>
              <div class="error" v-if="!$v.password.minLength">
                Password must have at least
                {{ $v.password.$params.minLength.min }} letters
              </div>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="password-confirm-group">
            <b-form-input
              v-model="$v.password_confirmation.$model"
              :state="!$v.password_confirmation.$invalid"
              id="password-confirm"
              placeholder="Confirm Password"
              type="password"
            />
            <b-form-invalid-feedback v-show="$v.password.$invalid">
              <div class="error" v-if="!$v.password.sameAs">
                Both passwords must be identical
              </div>
              <div class="error" v-if="!$v.password.minLength">
                Password must have at least
                {{ $v.password.$params.minLength.min }} letters
              </div>
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group id="terms">
            <b-form-checkbox 
              :state="!$v.terms.$invalid" v-model="$v.terms.$model"></b-form-checkbox>
              <p>I am at least 18 years old and accept the <b-link :to="{ name: 'termsofservice' }">terms of service.</b-link></p> 
              <b-form-invalid-feedback v-show="$v.terms.$invalid">
              <div class="error" v-if="!$v.terms.required">Tick is required</div>
            </b-form-invalid-feedback>
           
          </b-form-group>

          <b-button type="submit" v-if="$v.terms.$model" variant="primary">Register</b-button>
        </b-form>
      </b-card>
    </div>
    <p class="text-center mt-3">
      Or <b-link :to="{ name: 'login' }">login</b-link> to your account!
    </p>
  </div>
</template>
<script>
  import { validationMixin } from 'vuelidate'
  import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
  import { mapActions } from 'vuex'

  export default {
    name: 'Register',
    mixins: [validationMixin],
    data() {
      return {
        name: '',
        email: '',
        terms: [],
        registration_code: '',
        password: '',
        password_confirmation: '',
        errors: null,
      }
    },
    validations: {
      name: { required },
      terms: { required },
      email: { required, email },
      registration_code: { required, minLength: minLength(12) },
      password: { required, minLength: minLength(8) }, 
      password_confirmation: { sameAsPassword: sameAs('password') }
    },
    methods: {
      ...mapActions('auth', ['register']),
      submit() {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          this.register({
            name: this.name,
            terms: this.terms,
            email: this.email,
            registration_code: this.registration_code,
            password: this.password,
            password_confirmation: this.password_confirmation,
          })
          .then(() => {
            this.$router.push({ name: 'home' })
          })
          .catch(({ response }) => {
            if (response.status == 422) {
              this.errors = response.data.errors
            }
          })
        }
      }
    },
  }
</script>
